#map {
    margin: 10px;
    height: 400px;
}

.sat-icon {
    width: 3rem;
    height: auto;
}

.sat-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sat-left {
    padding-top: 30px;
}

.sat-right {
    padding: 10px;
}


@media screen and (max-width: 768px) {
    .sat-grid {
        grid-template-columns: 1fr; 
    }
}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid var(--av-font-color);
    padding: 1px;
    padding-left: 5px;
    text-align: left;
}

th {
    font-weight: bold;
    font-size: 1.75rem;
}

td {
    font-size: 1.5rem;
}


.satty {
    margin-left: 5%;
    margin-right: 5%;
}