/* Conteneur principal */
#av-body-column {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

#av-body-left {

}

#av-body-right {
}

#av-body-bo {
}

@media screen and (max-width: 768px) {
    #av-body-column {
        grid-template-columns: 1fr;
    }

    #av-body-left, #av-body-right {
        margin: 0; 
    }
}
