<div id="home">
    <div class="home-banner">

        <div class="av-box home-box">
            <h1>AstroView</h1>
            <div class="barre"></div>

            <p>
                Le mot hawaïen wikiwiki signifie en français « rapide »2, « vite »3 ou « informel »4. Il a été choisi par Ward Cunningham lorsqu'il créa le premier wiki, qu'il appela WikiWikiWeb5. Il utilisa l'expression « wiki wiki », un redoublement qui signifie « très rapide », « très vite »6, parce que c'est le premier terme hawaïen qu'il apprit lorsqu'il dut prendre un bus à la sortie de l'aéroport5, et qu'au moment de créer son site, il voulait un terme amusant pour dire rapide. Dans l'URL du site apparaissait uniquement le terme « wiki », ce qui a probablement poussé les visiteurs à l'appeler ainsi6. Pour l'OQLF, le terme « wiki » est un nom commun qui s'accorde au pluriel7.

Le journal The Economist relève que le mot wiki peut être lu comme l'acronyme de « What I Know Is » (littéralement : « ce que je sais est » ou « voici ce que je sais »)8. Le concours de création littéraire et artistique Dis-moi dix mots a sélectionné le mot « wiki » pour son édition de 2014-20159 et en donne une définition.
            </p>
        </div>

    </div>


</div>

