<!--
==========================================================
                      by Évelym S.
       https://www.linkedin.com/in/evelym-santos/
==========================================================
-->

<nav id="navbar">
  <div class="nav-wrapper">
    <!-- Logo -->
    <div class="logo">
      <a href="#home">
        <img class="logo" src="title.png" alt="AstroView Logo"> 
      </a>
    </div>

    <!-- Navbar Links (Desktop) -->
    <ul id="menu" [class.hidden]="menuOpen" #menuElement>
      <li *ngFor="let navItem of navList">
        <a [href]="navItem.href">{{ navItem.title }}</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Menu Icon (Mobile) -->
<div class="menuIcon" (click)="toggleMenu()">
  <span class="icon icon-bars"></span>
  <span class="icon icon-bars overlay"></span>
</div>

<!-- Overlay Menu (Mobile) -->
<div class="overlay-menu" [class.active]="menuOpen">
  <ul>
    <li *ngFor="let navItem of categories">
      <a [href]="navItem.href" (click)="toggleMenu()">{{ navItem.title }}</a>
    </li>
  </ul>
</div>
