<header>
    <nav class=".av-header sb-topnav navbar navbar-expand navbar-dark">
        <img src="logo.png" alt="AstroView Logo" style="width: 80px;">
        <!-- Navbar Brand-->
        <a class="navbar-title ps-3" href="index.html">AstroView</a>

        <a class="navbar-brand ps-0 ms-auto" href="index.html">A Propos</a>
        <a class="navbar-brand ps-0" href="index.html">Contact</a>
        <a class="navbar-brand ps-0" href="index.html">Contact</a>
        <a class="navbar-brand ps-0" href="index.html">Contact</a>
        <!-- Sidebar Toggle-->
    </nav>

</header>
  