<header>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <img src="logo.png" alt="AstroView Logo" style="width: 80px;">
        <!-- Navbar Brand-->
        <a class="navbar-title ps-3" href="index.html">AstroView</a>

        <a class="navbar-brand ps-3 ms-auto me-4" href="index.html">A Propos</a>
        <a class="navbar-brand ps-3" href="index.html">Contact</a>
        <a class="navbar-brand ps-3" href="index.html">Contact</a>
        <!-- Sidebar Toggle-->
       
       
    </nav>
</header>
  